.contenedor_1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px auto;
    padding: 10px;
  }

  .item-2 {
    grid-row: 1; 
    grid-column: 1;
    background-color: salmon;
  }

  .item-1 {
    grid-row: 3;
    grid-column: 1 / 4;
    background-color:rgb(86, 236, 151);
  }

.contenedor_2 {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 100px auto;
    padding: 10px;
  }

.contenedor_2.item-2 {
    display: grid;

  }